h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
a {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #00d803;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
}
.compress {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar .compress {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .compress .logo {
  height: 48px;
}
.navbar .compress .logo img {
  height: 100%;
}
.navbar .compress .links {
  display: flex;
}
.navbar .compress .links a {
  color: #fff;
  font-size: 20px;
  margin-right: 40px;
}
.navbar .compress .links a:last-child {
  margin-right: 0;
}
.header {
  position: relative;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.header .opacity-layer {
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}
.header .compress {
  position: relative;
  height: 100%;
}
.header .compress .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  max-width: 400px;
}
.header .compress .content h1,
.header .compress .content p {
  color: #fff;
  max-width: 780px;
}
.header .compress .content h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
.header .compress .content p {
  font-size: 22px;
  line-height: 1.8;
}
.section.background-image {
  background-size: cover;
  background-position: center;
  min-height: calc(0.5 * 100vw);
}
.section.background-image h1,
.section.background-image p {
  color: #fff;
}
.section.background-image .content {
  max-width: 400px;
}
.section.white-background {
  background-color: #fff;
}
.section.white-background h1 {
  color: #00d803;
}
.section.white-background p {
  color: #000;
}
