
.faq
    display: flex
    justify-content: center
    h2
        color: $green
        font-size: 41px

    .questions
        margin-top: $margin.large
        max-width: 560px
        .question
            margin-bottom: 20px
            overflow: hidden
            &:last-child
                margin-bottom: 0

            h3
                color: $green
                font-size: 21px
                margin-bottom: 8px
                &:hover
                    cursor: pointer

            p
                font-size: 15px
                line-height: 1.6
                max-height: 0
                // transition: max-height .3s ease-out
                transition: max-height .5s
            &.show p
                max-height: 160px
                // transition: max-height .3s ease-in
    a
        margin-top: 48px

    @media(max-width: $media.small)
        .questions
            margin-top: $margin.medium
            .question.show p
                max-height: 240px
