
*
    box-sizing: border-box

html
    scroll-behavior: smooth
    width: 100vw // on html for firefox


body
    margin: 0
    background-color: $white
    display: flex
    flex-direction: column
    overflow-x: hidden

img
    display: block

.compress
    max-width: $media.max
    padding-left: $margin.max
    padding-right: $margin.max
    margin: 0 auto
    height: 100%
    width: 100%
    @media (max-width: $media.xl)
        padding-left: $margin.large
        padding-right: $margin.large
    @media (max-width: $media.large)
        padding-left: $margin.medium
        padding-right: $margin.medium
    @media (max-width: $media.small)
        padding-left: $margin.small
        padding-right: $margin.small

.section
    padding-top: $margin.max
    padding-bottom: $margin.max
    @media (max-width: $media.large)
        padding-top: $margin.large
        padding-bottom: $margin.large
    // @media (max-width: $media.small)
    //     padding-top: $margin.medium
    //     padding-bottom: $margin.medium

.opacity-layer
    position: absolute
    background-color: $black
    opacity: .2
    // top: 0
    // left: 0
    // right: 0
    // bottom: 0
    height: 100%
    width: 100%
    & ~ div
        position: relative
