
.process-grid
    margin-top: $margin.large
    display: -ms-grid // ie
    -ms-grid-columns: 1fr 1fr 1fr 1fr // ie
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr

    grid-gap: 0 32px
    grid-template-areas: "empty-1 arrow arrow arrow" "empty-2 icon-1 icon-2 icon-3" "meld-je-aan text-1 text-2 text-3"
    .arrow
        grid-area: arrow
        display: flex
        justify-content: center
        img
            width: 100%
            margin-bottom: 0

    svg, img
        width: 140px
        margin-bottom: 20px
    h3
        color: $green
        font-size: 21px
        line-height: 1
    p
        margin-top: 8px
        font-size: 15px
        span
            color: $green
            font-family: $header-font

        a
            display: inline-block
            color: $green
            &:hover
                color: darken($green, 10%)

    .icon-1, .icon-2, .icon-3
        display: flex
        align-items: flex-end

    .empty-1
        grid-area: empty-1
    .arrow
        grid-area: arrow
    .empty-2
        grid-area: empty-2
    .meld-je-aan
        grid-area: meld-je-aan
    .icon-1
        grid-area: icon-1
    .icon-2
        grid-area: icon-2
    .icon-3
        grid-area: icon-3
        img
            width: 100%
            max-width: 300px
    .text-1
        grid-area: text-1
    .text-2
        grid-area: text-2
    .text-3
        grid-area: text-3

    // ie
    .empty-1
        -ms-grid-row: 1
    .empty-2, .icon-1, .icon-2, .icon-3
        -ms-grid-row: 2
    .meld-je-aan, .text-1, .text-2, .text-3
        -ms-grid-row: 3
    .empty-1, .empty-2, .meld-je-aan
        -ms-grid-column: 1
    .icon-1, .text-1
        -ms-grid-column: 2
    .icon-2, .text-2
        -ms-grid-column: 3
    .icon-3, .text-3
        -ms-grid-column: 4

    @media(max-width: $media.xl)
        grid-template-columns: auto 1fr 1fr 1fr

    @media(max-width: $media.large)
        grid-gap: 0 16px
        svg, img
            width: 120px
        p
            font-size: 14px
            line-height: 1.4
            max-width: 400px

    @media(max-width: $media.medium)
        margin-top: $margin.medium
        grid-template-columns: 1fr
        grid-template-areas: "icon-1" "text-1" "icon-2" "text-2" "icon-3" "text-3" "meld-je-aan"
        .arrow, .empty-1
            display: none
        .meld-je-aan
            margin-top: 32px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        .text-1, .text-2, .text-3, .text-4
            display: flex
            flex-direction: column
            align-items: center
            h3
                text-align: center
            p
                text-align: center
                font-size: 15px
                line-height: 1.6
        .text-1, .text-2
            margin-bottom: 20px
        .icon-1, .icon-2, .icon-3
            justify-content: center
        .empty-2
            display: none
