h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label,
textarea {
  color: #000;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}
p,
a,
button,
input,
label,
textarea {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo', cursive;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a.button {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: #00d802;
  color: #fff;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 18px;
}
a.button:hover {
  background-color: #00cd02;
}
.double-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 24px;
}
.double-buttons .on-top {
  z-index: 1;
}
.double-buttons .behind {
  color: #00d802;
  background-color: #c4ffc5;
  margin-left: -16px;
  padding-left: 32px;
}
.double-buttons .behind:hover {
  background-color: #adffaf;
}
@media (max-width: 575px) {
  .double-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .double-buttons .behind {
    margin-left: 0;
    padding-left: 20px;
    margin-top: 12px;
  }
}
input,
textarea {
  display: block;
  outline: none;
  border: 1px #808080 solid;
  border-radius: 4px;
  padding: 8px 12px;
}
input:focus,
textarea:focus {
  border-color: #00d802;
}
input[type='submit'],
textarea[type='submit'] {
  background-color: transparent;
}
textarea {
  resize: vertical;
}
label {
  display: inline-block;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}
body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
img {
  display: block;
}
.compress {
  max-width: 1365px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
@media (max-width: 1199px) {
  .compress {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1023px) {
  .compress {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 575px) {
  .compress {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1023px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.opacity-layer {
  position: absolute;
  background-color: #000;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}
.opacity-layer ~ div {
  position: relative;
}
.navbar {
  position: absolute;
  z-index: 5;
  width: 100vw;
}
.navbar .logo-and-background {
  position: relative;
  margin-top: 28px;
  width: 84px;
}
.navbar .logo-and-background .background {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #fff;
  z-index: -1;
  border-radius: 120px;
  transform: rotate(20deg);
  bottom: 0;
  right: -100px;
}
.navbar a img {
  width: 84px;
}
.navbar.green-background {
  background-color: #00d802;
  padding: 12px 0;
}
.background-image {
  position: relative;
  background-size: cover;
  background-position: center;
}
.background-image .opacity-layer {
  opacity: 0.4;
}
.background-image .content {
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 520px;
}
.background-image .content h1,
.background-image .content h2,
.background-image .content p {
  width: 100%;
}
.background-image .content h1 {
  color: #fff;
  font-size: 53px;
}
.background-image .content h2 {
  color: #fff;
  font-size: 42px;
  line-height: 1.4;
}
.background-image .content p {
  color: #fff;
  font-size: 25px;
  line-height: 1.7;
  margin-top: 36px;
}
.background-image .content a {
  margin-top: 36px;
}
.background-image .content.nr3 p {
  font-size: 20px;
  margin-top: 0;
}
.background-image .double-buttons {
  margin-top: 0;
}
.background-image .double-buttons .behind {
  margin-top: 12px;
}
@media (max-width: 575px) {
  .background-image .content {
    max-width: 300px;
  }
  .background-image .content h1,
  .background-image .content h2 {
    font-size: 32px;
  }
  .background-image .content p {
    font-size: 21px;
    margin-top: 20px;
  }
  .background-image .content a {
    margin-top: 20px;
  }
}
.white-background {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 64px;
  min-height: calc(0.4 * 100vw);
}
.white-background h2 {
  color: #00d802;
  font-size: 44px;
  margin-bottom: 20px;
}
.white-background p {
  font-weight: 500;
  line-height: 1.6;
}
.white-background .markdown {
  margin-top: 20px;
  max-width: 800px;
}
.white-background .markdown img {
  width: 100%;
}
.white-background .markdown .wrapper {
  display: flex;
}
.white-background .markdown .wrapper .item {
  flex: 1;
  margin-right: 24px;
}
.white-background .markdown .wrapper .item:last-child {
  margin-right: 0;
}
.white-background .markdown .wrapper .item img {
  height: 100%;
  object-fit: cover;
}
.white-background .markdown .double-buttons {
  justify-content: flex-start;
}
.white-background .heading-subheading h2 {
  font-size: 44px;
  text-align: center;
}
.white-background .heading-subheading p {
  font-size: 24px;
  text-align: center;
}
.white-background .double-buttons {
  align-items: center;
}
@media (max-width: 575px) {
  .white-background {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .white-background .markdown {
    margin-top: 60px;
  }
  .white-background .markdown .wrapper {
    flex-direction: column;
  }
  .white-background .markdown .wrapper .item {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .white-background .markdown .wrapper .item:last-child {
    margin-bottom: 0;
  }
}
.background-image.header .section.content {
  min-height: 100vh;
  padding-top: 140px;
}
.footer {
  background-color: #00d802;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 48px;
}
.footer .wrapper h3 {
  color: #fff;
  font-size: 21px;
}
.footer .wrapper a {
  display: block;
  color: #fff;
  font-size: 15px;
  margin-top: 8px;
}
.footer .wrapper a:hover {
  color: #e6e6e6;
}
@media (max-width: 767px) {
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .footer .wrapper {
    grid-template-columns: 1fr;
  }
}
.process-grid {
  margin-top: 64px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 32px;
  grid-template-areas: "empty-1 arrow arrow arrow" "empty-2 icon-1 icon-2 icon-3" "meld-je-aan text-1 text-2 text-3";
}
.process-grid .arrow {
  grid-area: arrow;
  display: flex;
  justify-content: center;
}
.process-grid .arrow img {
  width: 100%;
  margin-bottom: 0;
}
.process-grid svg,
.process-grid img {
  width: 140px;
  margin-bottom: 20px;
}
.process-grid h3 {
  color: #00d802;
  font-size: 21px;
  line-height: 1;
}
.process-grid p {
  margin-top: 8px;
  font-size: 15px;
}
.process-grid p span {
  color: #00d802;
  font-family: 'Baloo', cursive;
}
.process-grid p a {
  display: inline-block;
  color: #00d802;
}
.process-grid p a:hover {
  color: #00c202;
}
.process-grid .icon-1,
.process-grid .icon-2,
.process-grid .icon-3 {
  display: flex;
  align-items: flex-end;
}
.process-grid .empty-1 {
  grid-area: empty-1;
}
.process-grid .arrow {
  grid-area: arrow;
}
.process-grid .empty-2 {
  grid-area: empty-2;
}
.process-grid .meld-je-aan {
  grid-area: meld-je-aan;
}
.process-grid .icon-1 {
  grid-area: icon-1;
}
.process-grid .icon-2 {
  grid-area: icon-2;
}
.process-grid .icon-3 {
  grid-area: icon-3;
}
.process-grid .icon-3 img {
  width: 100%;
  max-width: 300px;
}
.process-grid .text-1 {
  grid-area: text-1;
}
.process-grid .text-2 {
  grid-area: text-2;
}
.process-grid .text-3 {
  grid-area: text-3;
}
.process-grid .empty-1 {
  -ms-grid-row: 1;
}
.process-grid .empty-2,
.process-grid .icon-1,
.process-grid .icon-2,
.process-grid .icon-3 {
  -ms-grid-row: 2;
}
.process-grid .meld-je-aan,
.process-grid .text-1,
.process-grid .text-2,
.process-grid .text-3 {
  -ms-grid-row: 3;
}
.process-grid .empty-1,
.process-grid .empty-2,
.process-grid .meld-je-aan {
  -ms-grid-column: 1;
}
.process-grid .icon-1,
.process-grid .text-1 {
  -ms-grid-column: 2;
}
.process-grid .icon-2,
.process-grid .text-2 {
  -ms-grid-column: 3;
}
.process-grid .icon-3,
.process-grid .text-3 {
  -ms-grid-column: 4;
}
@media (max-width: 1199px) {
  .process-grid {
    grid-template-columns: auto 1fr 1fr 1fr;
  }
}
@media (max-width: 1023px) {
  .process-grid {
    grid-gap: 0 16px;
  }
  .process-grid svg,
  .process-grid img {
    width: 120px;
  }
  .process-grid p {
    font-size: 14px;
    line-height: 1.4;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .process-grid {
    margin-top: 32px;
    grid-template-columns: 1fr;
    grid-template-areas: "icon-1" "text-1" "icon-2" "text-2" "icon-3" "text-3" "meld-je-aan";
  }
  .process-grid .arrow,
  .process-grid .empty-1 {
    display: none;
  }
  .process-grid .meld-je-aan {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .process-grid .text-1,
  .process-grid .text-2,
  .process-grid .text-3,
  .process-grid .text-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .process-grid .text-1 h3,
  .process-grid .text-2 h3,
  .process-grid .text-3 h3,
  .process-grid .text-4 h3 {
    text-align: center;
  }
  .process-grid .text-1 p,
  .process-grid .text-2 p,
  .process-grid .text-3 p,
  .process-grid .text-4 p {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
  }
  .process-grid .text-1,
  .process-grid .text-2 {
    margin-bottom: 20px;
  }
  .process-grid .icon-1,
  .process-grid .icon-2,
  .process-grid .icon-3 {
    justify-content: center;
  }
  .process-grid .empty-2 {
    display: none;
  }
}
.pros-grid {
  margin-top: 64px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "icon-1 icon-2 icon-3 icon-4" "heading-1 heading-2 heading-3 heading-4" "text-1 text-2 text-3 text-4";
  grid-column-gap: 48px;
}
.pros-grid .icon-1,
.pros-grid .icon-2,
.pros-grid .icon-3,
.pros-grid .icon-4 {
  display: flex;
  align-items: flex-end;
}
.pros-grid .icon-1 {
  grid-area: icon-1;
}
.pros-grid .icon-1 img {
  width: 100px;
}
.pros-grid .icon-2 {
  grid-area: icon-2;
}
.pros-grid .icon-2 img {
  width: 80px;
}
.pros-grid .icon-3 {
  grid-area: icon-3;
}
.pros-grid .icon-3 img {
  width: 80px;
}
.pros-grid .icon-4 {
  grid-area: icon-4;
}
.pros-grid .icon-4 img {
  width: 100px;
}
.pros-grid .icon-1,
.pros-grid .icon-2,
.pros-grid .icon-3,
.pros-grid .icon-4 {
  -ms-grid-row: 1;
}
.pros-grid .heading-1,
.pros-grid .heading-2,
.pros-grid .heading-3,
.pros-grid .heading-4 {
  -ms-grid-row: 2;
}
.pros-grid .text-1,
.pros-grid .text-2,
.pros-grid .text-3,
.pros-grid .text-4 {
  -ms-grid-row: 3;
}
.pros-grid .icon-1,
.pros-grid .heading-1,
.pros-grid .text-1 {
  -ms-grid-column: 1;
}
.pros-grid .icon-2,
.pros-grid .heading-2,
.pros-grid .text-2 {
  -ms-grid-column: 2;
}
.pros-grid .icon-3,
.pros-grid .heading-3,
.pros-grid .text-3 {
  -ms-grid-column: 3;
}
.pros-grid .icon-4,
.pros-grid .heading-4,
.pros-grid .text-4 {
  -ms-grid-column: 4;
}
.pros-grid .heading-1 {
  grid-area: heading-1;
}
.pros-grid .heading-2 {
  grid-area: heading-2;
}
.pros-grid .heading-3 {
  grid-area: heading-3;
}
.pros-grid .heading-4 {
  grid-area: heading-4;
}
.pros-grid .text-1 {
  grid-area: text-1;
}
.pros-grid .text-2 {
  grid-area: text-2;
}
.pros-grid .text-3 {
  grid-area: text-3;
}
.pros-grid .text-4 {
  grid-area: text-4;
}
.pros-grid svg {
  width: 120px;
}
.pros-grid .grid-heading {
  margin-top: 24px;
  margin-bottom: 8px;
}
.pros-grid .grid-heading h3 {
  color: #00d802;
  font-size: 21px;
}
.pros-grid .grid-heading h4 {
  color: #00d802;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4;
  margin-top: 8px;
}
.pros-grid p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}
@media (max-width: 1365px) {
  .pros-grid {
    grid-column-gap: 32px;
  }
}
@media (max-width: 1023px) {
  .pros-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "icon-1 icon-2" "heading-1 heading-2" "text-1 text-2" "icon-3 icon-4" "heading-3 heading-4" "text-3 text-4";
  }
  .pros-grid .grid-heading {
    margin-top: 12px;
  }
  .pros-grid p {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .pros-grid {
    margin-top: 32px;
    grid-template-columns: 1fr;
    grid-template-areas: "icon-1" "heading-1" "text-1" "icon-2" "heading-2" "text-2" "icon-3" "heading-3" "text-3" "icon-4" "heading-4" "text-4";
  }
  .pros-grid > div,
  .pros-grid .icon-1,
  .pros-grid .icon-2,
  .pros-grid .icon-3,
  .pros-grid .icon-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pros-grid h3,
  .pros-grid h4,
  .pros-grid p {
    text-align: center;
  }
  .pros-grid p {
    max-width: 400px;
  }
}
.faq {
  display: flex;
  justify-content: center;
}
.faq h2 {
  color: #00d802;
  font-size: 41px;
}
.faq .questions {
  margin-top: 64px;
  max-width: 560px;
}
.faq .questions .question {
  margin-bottom: 20px;
  overflow: hidden;
}
.faq .questions .question:last-child {
  margin-bottom: 0;
}
.faq .questions .question h3 {
  color: #00d802;
  font-size: 21px;
  margin-bottom: 8px;
}
.faq .questions .question h3:hover {
  cursor: pointer;
}
.faq .questions .question p {
  font-size: 15px;
  line-height: 1.6;
  max-height: 0;
  transition: max-height 0.5s;
}
.faq .questions .question.show p {
  max-height: 160px;
}
.faq a {
  margin-top: 48px;
}
@media (max-width: 575px) {
  .faq .questions {
    margin-top: 32px;
  }
  .faq .questions .question.show p {
    max-height: 240px;
  }
}
.modal {
  position: fixed;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  overflow-y: auto;
}
.modal.show {
  display: flex;
}
.modal .content {
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  max-width: 100%;
}
.modal .content a.wrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.modal .content a.wrapper img,
.modal .content a.wrapper svg {
  width: 40px;
}
.modal .content a.wrapper p {
  margin-left: 12px;
}
.modal .content a.wrapper:hover svg {
  fill: #404040;
  stroke: #404040;
}
.modal .content a.wrapper:hover p {
  color: #404040;
}
.modal .content .logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .content .logo-close img {
  width: 60px;
}
.modal .content .logo-close svg {
  width: 16px;
}
.modal .content .logo-close svg:hover {
  cursor: pointer;
  fill: #333;
}
.modal .content h2 {
  margin-top: 40px;
  color: #00d802;
}
.modal .content form {
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.modal .content form label,
.modal .content form input,
.modal .content form textarea {
  font-size: 18px;
  line-height: 1.2;
}
.modal .content form input,
.modal .content form textarea {
  width: 100%;
  max-width: 400px;
}
.modal .content form textarea {
  min-height: 140px;
}
.modal .content form .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .content form .wrapper p {
  font-size: 10px;
}
.modal .content form .container {
  max-width: 100%;
}
.modal .content form input[type='submit'] {
  font-family: 'Baloo', cursive;
}
.modal .content form input[type='submit']:hover {
  cursor: pointer;
  background-color: #00d802;
  border-color: #00d802;
  color: #fff;
}
@media (max-width: 575px) {
  .modal .content {
    padding: 16px;
  }
  .modal .content form {
    grid-template-columns: minmax(100%, 400px);
    grid-gap: 4px;
  }
  .modal .content form label,
  .modal .content form input,
  .modal .content form textarea {
    font-size: 16px;
  }
  .modal .content form input,
  .modal .content form textarea {
    margin-bottom: 12px;
  }
}
