
a
    text-decoration: none

a.button
    flex-shrink: 0
    display: inline-flex
    align-items: center
    position: relative
    background-color: $green
    color: $white
    height: 40px
    border-radius: .5 * @height
    padding: 0 20px
    font-size: 20px
    &:hover
        background-color: darken($green, 5%)

    &.on-top
        z-index: 1

    &.behind
        color: $green
        background-color: $light-green
        margin-left: -16px
        padding-left: 32px
        &:hover
            background-color: darken($light-green, 5%)

.double-buttons
    display: flex
    justify-content: center
    margin-top: 24px
