
a.button
    display: inline-flex
    align-items: center
    position: relative
    background-color: $green
    color: $white
    height: 40px
    border-radius: .5 * @height
    padding: 0 20px
    text-decoration: none
    font-size: 20px

    &.on-top
        z-index: 1

    &.behind
        color: $green
        background-color: $light-green
        margin-left: -16px
        padding-left: 32px




.double-buttons
    display: flex
    justify-content: center
    margin-top: 24px
