
a
    text-decoration: none
    &:hover
        cursor: pointer

a.button
    flex-shrink: 0
    display: inline-flex
    align-items: center
    position: relative
    background-color: $green
    color: $white
    // height: 40px
    font-size: 20px
    padding: 8px 20px
    border-radius: .5 * (20px + 2 * 8px)
    &:hover
        background-color: darken($green, 5%)

.double-buttons
    display: flex
    justify-content: center
    align-items: flex-end
    margin-top: 24px

    .on-top
        z-index: 1

    .behind
        color: $green
        background-color: $light-green
        margin-left: -16px
        padding-left: 32px
        &:hover
            background-color: darken($light-green, 5%)

    @media(max-width: $media.small)
        flex-direction: column
        align-items: flex-start
        .behind
            margin-left: 0
            padding-left: 20px
            margin-top: 12px
