
.footer
    background-color: $green
    padding-top: 40px
    padding-bottom: 40px

    .wrapper
        min-height: calc(.15 * 100vw)
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 32px 48px

        h3
            color: $white
            font-size: 21px
        a
            display: block
            color: $white
            font-size: 15px
            margin-top: 8px
            &:hover
                color: darken($white, 5%)

    @media(max-width: $media.medium)
        .wrapper
            grid-template-columns: 1fr 1fr

    @media(max-width: $media.small)
        .wrapper
            grid-template-columns: 1fr
