
.footer
    background-color: $green
    padding-top: 40px
    padding-bottom: 40px

    .wrapper
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 48px

        h2
            color: $white
            font-size: 21px
        a
            display: block
            color: $white
            font-size: 15px
            margin-top: 8px
