
.header
    position: relative
    height: 100vh
    min-height: 400px
    width: 100%
    background-size: cover
    background-position: center

    // .opacity-layer
    //     position: absolute
    //     background-color: $black
    //     opacity: .2
    //     height: 100%
    //     width: 100%

    .compress
        position: relative
        height: 100%

        .content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            height: 100%
            max-width: 480px

            h1, p
                color: $white

            h1
                font-size: 52px
                line-height: 1.08

            p
                margin-top: 36px
                font-size: 22px
                line-height: 1.8

            a
                margin-top: 36px
