
.header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    height: 100vh
    min-height: 400px
    width: 100%
    background-size: cover
    background-position: center

    .opacity-layer
        position: absolute
        background-color: $black
        opacity: .2
        height: 100%
        width: 100%

    h1, p
        position: relative
        color: $white
        max-width: 780px
        text-align: center

    h1
        font-size: 42px
        font-weight: 700
        line-height: 1.5
        margin-bottom: 20px

    p
        font-size: 22px
        line-height: 1.8
