
$white = #fff
$black = #000000
$green = #00d802
$light-green = #c4ffc5

$media = {
    max: 1366px - 1px
    xl: 1200px - 1px
    large: 1024px - 1px
    medium: 768px - 1px
    small: 576px - 1px
}

$margin = {
    max: 100px
    large: 64px
    medium: 32px
    small: 16px
}

$font = 'Montserrat', sans-serif
$header-font = 'Baloo', cursive

@import 'text.styl'
@import 'buttons.styl'
@import 'input.styl'

@import 'page.styl'

@import 'navbar.styl'
@import 'background-image'
@import 'white-background'
@import 'header.styl'
@import 'footer.styl'


@import 'process-grid'
@import 'pros-grid'
@import 'faq'
@import 'modal.styl'
