
$white = #fff
$black = black
$green = #00d803
$light-green = #daf9d9

$media = {
    max: 1440px
}

$margin = {
    max: 100px
}

@import 'text.styl'
@import 'buttons.styl'

@import 'page.styl'

@import 'navbar.styl'
@import 'header.styl'
@import 'image-background'
@import 'white-background'
