
input
    display: block
    outline: none
    border: 1px lighten($black, 50%) solid
    border-radius: 4px
    padding: 8px 12px

    &:focus
        border-color: $green

    &[type='submit']
        background-color: transparent
