
*
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    margin: 0
    background-color: $white
    display: flex
    flex-direction: column

.compress
    max-width: $media.max
    padding-left: $margin.max
    padding-right: $margin.max
    margin: 0 auto
    height: 100%
    @media (max-width: $media.large)
        padding-left: $margin.large
        padding-right: $margin.large

.section
    padding-top: $margin.max
    padding-bottom: $margin.max

.opacity-layer
    position: absolute
    background-color: $black
    opacity: .2
    height: 100%
    width: 100%
    & ~ div
        position: relative
