
.process-grid
    margin-top: $margin.large
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    // grid-auto-flow: column
    grid-gap: 0 32px
    grid-template-areas: "empty-1 arrow arrow arrow" "empty-2 icon-1 icon-2 icon-3" "meld-je-aan text-1 text-2 text-3"
    .arrow
        grid-area: arrow
        // grid-column: 2 / 5
        display: flex
        justify-content: center
        img
            width: 100%

    svg
        width: 120px
        // height: 120px
        margin-bottom: 20px
    h3
        color: $green
        font-size: 21px
        line-height: 1
    p
        margin-top: 8px
        font-size: 15px
        span
            color: $green
            font-family: $header-font

        a
            display: inline-block
            color: $green
            &:hover
                color: darken($green, 10%)

    .empty-1
        grid-area: empty-1
    .arrow
        grid-area: arrow
    .empty-2
        grid-area: empty-2
    .meld-je-aan
        grid-area: meld-je-aan
    .icon-1
        grid-area: icon-1
    .icon-2
        grid-area: icon-2
    .icon-3
        grid-area: icon-3
    .icon-4
        grid-area: icon-4
    .text-1
        grid-area: text-1
    .text-2
        grid-area: text-2
    .text-3
        grid-area: text-3
    .text-4
        grid-area: text-4


    @media(max-width: $media.xl)
        grid-template-columns: auto 1fr 1fr 1fr

    @media(max-width: $media.large)
        grid-template-columns: 1fr 1fr
        grid-template-areas: "meld-je-aan icon-1" "empty-2 text-1" "icon-2 icon-3" "text-2 text-3"
        .meld-je-aan, .icon-1, .icon-2, .icon-3
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        .arrow, .empty-1
            display: none
        .text-1
            margin-bottom: 20px

    @media(max-width: $media.small)
        grid-template-columns: 1fr
        grid-template-areas: "meld-je-aan" "icon-1" "text-1" "icon-2" "text-2" "icon-3" "text-3"
        .text-1, .text-2, .text-3, .text-4
            display: flex
            flex-direction: column
            align-items: center
            h3, p
                text-align: center
        .empty-2
            display: none
        .meld-je-aan, .text-2
            margin-bottom: 20px
