
.process-grid
    margin-top: 52px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 0 32px
    grid-template-areas: 'empty arrow arrow arrow'
    .arrow
        grid-area: arrow
        display: flex
        justify-content: center
        img
            width: 100%

    svg
        width: 150px
        // height: 120px
        margin-bottom: 20px
    h2
        color: $green
        font-size: 21px
        line-height: 1
    p
        margin-top: 8px
        font-size: 15px
        span
            color: $green
            font-family: $header-font

        a
            color: $green
            &:hover
                color: darken($green, 10%)
