
.process-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 20px 40px
    svg
        width: 120px
        height: 120px
    h2
        color: $green
        font-size: 21px
        line-height: 1
    p
        margin-top: 8px
        font-size: 15px
        span
            color: $green
            font-family: $header-font

        a
            color: $green
