
.pros-grid
    margin-top: 88px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-column-gap: 48px
    svg
        width: 120px
        height: 120px
    .grid-heading
        margin-top: 32px
        margin-bottom: 8px
        h2
            color: $green
            font-size: 21px
        p
            color: $green
            font-size: 17px
            font-weight: 500
            font-style: italic
            line-height: 1.6

    p
        font-size: 15px
        font-weight: 500
