
h1, h2, h3, h4, h5, h6, p, a, button, input, label
    color: $black
    font-weight: 400
    margin: 0
    line-height: 1

p, a, button, input, label
    font-family: $font
h1, h2, h3, h4, h5, h6
    font-family: $header-font

// p
//     font-weight: 500
