

.white-background
    background-color: $white
    padding-top: 100px
    padding-bottom: 60px
    .heading-subheading
        h1
            color: $green
            font-size: 44px
            text-align: center
            line-height: 1.2
        p
            color: $black
            font-size: 24px
            text-align: center
