

.white-background
    display: flex
    align-items: center
    background-color: $white
    padding-top: $margin.max
    padding-bottom: $margin.large
    min-height: calc(.4 * 100vw)
    .heading-subheading
        h1
            color: $green
            font-size: 44px
            text-align: center
            line-height: 1.2
        p
            color: $black
            font-size: 24px
            text-align: center

    .double-buttons
        align-items: center

    @media(max-width: $media.small)
        padding-top: $margin.large
        padding-bottom: $margin.medium
