

.white-background
    display: flex
    align-items: center
    background-color: $white
    padding-top: $margin.max
    padding-bottom: $margin.large
    min-height: calc(.4 * 100vw)

    h2
        color: $green
        font-size: 44px
        margin-bottom: 20px
    p
        font-weight: 500
        line-height: 1.6

    .markdown
        margin-top: 20px
        max-width: 800px
        img
            width: 100%
        .wrapper
            display: flex
            .item
                flex: 1
                margin-right: 24px
                &:last-child
                    margin-right: 0
        .double-buttons
            justify-content: flex-start;

    .heading-subheading
        h2
            font-size: 44px
            text-align: center
        p
            font-size: 24px
            text-align: center

    .double-buttons
        align-items: center

    @media(max-width: $media.small)
        padding-top: $margin.large
        padding-bottom: $margin.medium

        .markdown
            margin-top: 60px
            .wrapper
                flex-direction: column
                .item
                    margin-right: 0
                    margin-bottom: 24px
                    &:last-child
                        margin-bottom: 0
